.rootLayout {
  padding: 16px 64px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
